[Unit]
Description=Aria Firewall Core
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/aria-firewall/config
ExecStart=/usr/local/bin/ariactl system start --iface ${IFACE} --ebpf-path /usr/local/lib/libebpf_firewall.so --max-port-policies ${MAX_PORT_POLICIES}
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
